[2018-07-02 08:42] paqpaqpaq opened #1 "can't get plugin installed"
on debian stretch:

[code]Unexpected platform or architecture: linux/arm
It seems there is no binary available for your platform/architecture
Try to install PhantomJS globally
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! phantomjs@2.1.7 install: `node install.js`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the phantomjs@2.1.7 install script.
npm ERR! This is probably not a problem wit

[2018-07-02 10:11] werthdavid commented on #1
Sorry, the README is missing something here...
Please try
* `wget https://github.com/fg2it/phantomjs-on-raspberry/releases/download/v2.1.1-wheezy-jessie-armv6/phantomjs_2.1.1_armhf.deb`
* `sudo dpkg -i phantomjs_2.1.1_armhf.deb`

[2018-07-02 10:14] paqpaqpaq commented on #1
No that was actually already in the readme.
However, the problem/error remains.

[2018-07-02 10:21] werthdavid commented on #1
Okay can you please try
* `sudo npm install -g phantomjs`

[2018-07-02 10:26] paqpaqpaq commented on #1
exact same result

[2018-07-02 10:29] werthdavid commented on #1
Sorry for the inconvenience... I'll try to find out what I did differently on my RPi

[2018-07-02 10:45] paqpaqpaq commented on #1
Could it have something to do with the install file of the plugin pointing to version 2.1.7 instead of 2.1.1

[code]
[code]

[2018-07-02 12:26] werthdavid commented on #1
Thanks for the hint, I tried an dev-version with 2.1.1 as dependency but that didn't help. What I found out is that
[code]
doesn't work. But doing
[code]
does work!?!

[2018-07-02 12:27] werthdavid commented on #1
I'm updating the README accordingly until I've found a better way or migrated to puppeteer

[2018-07-02 15:13] paqpaqpaq commented on #1
The github work around works!

[2018-07-02 15:21] DJay-X commented on #1
@werthdavid First of all thanks for your work and sharing.

I tried the above workaround, but unfortunately that didn't work for me.

[code]
Log enclosed. Hope this helps to investigate.

Could it be that in my case the folder for the modules is not `/usr/lib/node_modules` instead it is `/usr/local/lib/node_modules`

Running Homebridge (system.d) @0.4.44 | n@2.1.12 | node@10.1.0 | npm@6.1.0
Raspbe

[2018-07-02 15:36] DJay-X commented on #1
By the way with the usually common command `sudo npm install -g homebridge-website-to-camera` I get this error.

[code]

[2018-07-02 16:38] ghost commented on #1
I have the same issue as other mentioned above.

Could the issue be, that your your package-lock.json always refers to phantomjs@2.1.7 and not phantomjs@2.1.1.

Even if I try to change the information in your file I get the same error code:

`FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory
Aborted
npm ERR! code ELIFECYCLE
npm ERR! errno 134
npm ERR! phantomjs@2.1

[2018-07-03 05:01] werthdavid commented on #1
@DJay-X
For the workaround you have to install phantomjs as well (first step of the "Raspberry Pi and any other ARM" section in the readme --> dkpg -i)

@misanthrophy
I tried that and it didn't help unfortunately..

[2018-07-03 09:31] werthdavid commented on #1
I updated to plugin to use Puppeteer/Chrome instead of Phantomjs. Please try with v1.1.0, take a look at the README first!

[2018-07-03 13:50] ghost commented on #1
Thanks for the update.

Will install it later today to verify if it is working now.

While I checked the config.json, is it possible to add more websites as cameras with different websites?

For example:

 "platforms": [
      {
         "platform": "website-camera",
         "cameras": [
            {
               "name": "Website 1",
               "url": "http://github.com/1",

[2018-07-03 19:04] werthdavid commented on #1
Definitely!

[2018-07-03 19:49] ghost commented on #1
Okay, the plugin works now for installation, but I do not see a picture...

What I am trying to do is: I have an old iPhone 3GS on which I open a camera app which creates a livestream over a local IP Adress: 10.0.4.XX.
When I open this website on my Mac or other iPhone I see the video and everything is fine.
But when I use this link/IP address in the config.json it says that the "camera" does not

[2018-07-03 21:35] ghost commented on #1
Ps: I never had a HK enabled camera added to my home, so I don‘t know if thats normal, but when I add this plugin to HomeKit it shows me two devives:

1. the bridge homebridge-website-to-camera

2. my camera with my set name.

I have to add both of them and when I delete the bridge from HK, the cam itself remains. Is that normal?

[2018-07-04 04:58] werthdavid commented on #1
So you see a camera but the camera itself shows a white screen?
* Try to start `chromium-browser` from console and make sure it would start (it won't since you don't have a screen but there shouldn't be any other errors)
* Could you send me your (log-files)[https://github.com/nfarina/homebridge/wiki/Basic-Troubleshooting] please?
* Also it is probably the case but please make sure as well that you

[2018-07-04 05:35] werthdavid commented on #1
I made a new version that should log more to the log-file

[2018-07-04 10:41] ghost commented on #1
hi,

no the camera window is black with a camera symbol crossed out. Both on the overview section and when I tap on it.

I also updated the config.json according to your read.me file.

When I start the chromium browser I got that message:

`[21550:21550:0704/121219.617505:ERROR:browser_main_loop.cc(670)] Failed to put Xlib into threaded mode.

(chromium-browser:21550): Gtk-WARNING **: cannot open

[2018-07-04 12:05] werthdavid commented on #1
Okay so you're running homebridge as root... In general I'd recommend to not do that but of course it should work anyway. I published a new version, can you please try with that?

[2018-07-04 12:08] ghost commented on #1
Now it is working with a general website, will test it later with the internal IP adress of my iPhone Livestream

Thanks in advance!

[2018-07-05 17:12] #1 closed, assigned to werthdavid

[2018-08-12 03:44] schteeben95 opened #2 "Increase resolution of screenshot?"
Is there a way to increase the resolution of the screenshot?

[2018-08-15 08:51] werthdavid commented on #2
Yes, there are two options.

1.:
Use a specific width and height:
[code]

2.:
Use a Scale-factor.
[code]

I would go for a scale factor for the following reason:
HomeApp requests a desired resolution to the plugin. This desired resolution usually differs on different devices (e.g. iPad requests an higher resolution than an iPhone). With scale=2 you just double the resolution of the screenshot. Wit

[2018-08-23 08:15] #2 closed, assigned to werthdavid

[2018-11-04 05:20] mbriney opened #3 "No longer possible on Raspberry Pi"
It appears that it's no longer possible if you're running Homebridge on a Raspberry Pi.
https://github.com/RPi-Distro/repo/issues/58

Full output from my log:

[2018-11-4 01:12:47] [website-camera] Starting new instance of Chromium: /usr/bin/chromium-browser
[2018-11-4 01:12:48] [website-camera] Error: Failed to launch chrome!
bootstrap_helper: /usr/lib/chromium-browser/nacl_helper: Cannot open EL

[2018-11-08 07:11] werthdavid commented on #3
Hey there.
Can you provide more information please?
- Which Raspberry model are you using?
- OS version?
- are you running homebridge as root user?

[2018-11-09 23:22] mbriney commented on #3
Yes definitely

1. Using a Pi 3 Model B
2. Running RaspianJessie
3. Running as the Homebridge user with sudo privileges

[2018-11-12 13:46] werthdavid commented on #3
Hmmm you've already found the issue on rpi-distro..
I honestly don't know how to handle this. I guess updating to stretch is not an option..

You could try using [1.0.8](https://www.npmjs.com/package/homebridge-website-to-camera/v/1.0.8), it works with phantomjs instead of chrome.

Any other ideas?

[2018-11-20 11:25] hendymen commented on #3
Hi,

Tried normal one but having issues with Chromium, Then i came across this issue and tries 1.0.8 of your script on Raspberry Pi with Stretch, it shows up in Homekit however no image appears on the 'camera'.

Using an Raspberry Pi B from Q4 2012 Revision 2.0

And the config;

`{
            "platform": "website-camera",
            "cameras": [
                {
                    "name": "Web

[2018-11-23 12:25] werthdavid commented on #3
@MvZeeland do you have an outdated version of Raspbian as well? Sorry, can't do much atm, I'm on vacation 😄

[2018-11-23 12:34] hendymen commented on #3
Running this version.

Distributor ID: Raspbian
Description:    Raspbian GNU/Linux 9.4 (stretch)
Release:        9.4
Codename:       stretch

Enjoy your vacation!

[2018-12-08 20:01] Hussamfhaily commented on #3
How can I enter the username and password of the camera? thanks

[2018-12-10 07:13] werthdavid commented on #3
@Hussamfhaily what do you mean exactly?

[2018-12-10 07:16] werthdavid commented on #3
@MvZeeland @mbriney
do you have a raspbian installation with Desktop? Can you run Chromium there?

[2019-01-04 18:40] werthdavid commented on #3
Potentially closed with latest PR. Will close it for now. We can reopen if error still occurs

[2019-01-04 18:40] #3 closed, assigned to werthdavid

[2019-01-05 07:46] hendymen commented on #3
Thanks for your reply, eventually i've upgraded my homebridge to an virtual Ubuntu desktop on my server. Because FFMPEG didn't work properly on the raspberry. Also when it worked, it consumed so much CPU it started crashing now and then.

Your plugin works great, however it's updated every 15 seconds or so now. Can we adjust the time it updates from homebridge?

[2019-01-09 09:26] werthdavid commented on #3
As far as I know not, sorry. I think that the Home-App has the logic to request an image only every 15 secs. I might be wrong though, if you find any plugin that gives you control over that please contact me I'll take a look then!

[2019-01-10 22:48] borisdebusscher opened #5 "TimeoutError"
Hey! After logging "Going to page:..." in my terminal, I constantly have the following error: TimeoutError: Navigation Timeout Exceeded: 10000ms exceeded

[2019-01-16 21:14] MrDrache333 commented on #5
Same here...:/

[2019-01-17 08:35] borisdebusscher commented on #5
😪

[2019-01-17 08:39] MrDrache333 commented on #5
I tryed something...if you only use http instead of https it works...But if you want to open any Website with https it fails :/

[2019-01-17 08:55] borisdebusscher commented on #5
Mmmm good to know, I'll look into it thanks!

[2019-01-17 09:10] borisdebusscher commented on #5
it's maybe just a timeout issue, if I disable timeout it could work

[2019-01-18 06:31] werthdavid commented on #5
Can you provide the website you're using?

[2019-02-06 20:30] RienduPre opened #6 "No picture in camera"
Hi,

I use a homebridge on a RPi. Chromium is running fine and I can open url's on the desktop of the RPi.
I see no related errors in the log, just some initialization messages, which seems to be normal

When I add a camera I see
[website-camera] Starting new instance of Chromium: /usr/bin/chromium-browser
[website-camera] Chromium started
[website-camera] Opening new page

For both of the camera'

[2019-02-07 15:29] werthdavid commented on #6
I'll have a look

[2019-02-16 08:32] RienduPre commented on #6
Any clues yet?

[2019-02-17 09:35] werthdavid commented on #6
Sorry for the delay... My homebridge on RPi3 crashed and the one running on RPi Zero is to weak for chromium.. Currently struggeling setting up a new Homebridge on the Pi 3, my iPhone won't find it.. But I'm on it!

[2019-02-18 11:44] werthdavid commented on #6
For me everything works fine with a fresh installation...
Log Output looks like this:
[2/18/2019, 12:41:13 PM] [website-camera] identify
[2/18/2019, 12:41:19 PM] [website-camera] Starting new instance of Chromium: /usr/bin/chromium-browser
[2/18/2019, 12:41:28 PM] [website-camera] Chromium started
[2/18/2019, 12:41:28 PM] [website-camera] Opening new page
[2/18/2019, 12:41:29 PM] [website-camera]

[2019-02-18 11:57] RienduPre commented on #6
Hi,

I use an RPi 3

See below my config.json part of the plugin

 {
            "platform": "website-camera",
            "cameras": [
                {
                    "name": "Google Maps Traffic",
                    "url": "http://google.com",
                    "height": 1334,
                    "width": 750
                },
                {
                    "name": "Google Maps

[2019-02-18 12:37] werthdavid commented on #6
Can you (first stop and then) start homebridge manually with "homebridge -D" and the open the Home App (so a refresh is triggered) and the provide the log output?

[2019-02-18 12:50] werthdavid commented on #6
Another idea would be to add the path of the Chromium-executable:

config.json
[code]

[2019-02-21 19:57] RienduPre commented on #6
Hi,
Sorry for the late response.
With debug on, there is no more logging than the ones I see in normal mode.
Specifying the chromium path does not have any effect either.

[2019-02-22 12:16] werthdavid commented on #6
Hey,
so I found a Bug with puppeteer
https://github.com/GoogleChrome/puppeteer/issues/1409

I'll release a new version for you

[2019-02-22 12:20] werthdavid commented on #6
Please install 1.2.2 and try again!

[2019-03-01 15:14] kaosmagix commented on #5
I have the same issue with a regular (local) http site. It would work for me if the time-out could be disabled or set in a parameter

[2019-03-01 16:05] werthdavid commented on #5
Ok guys I made version 1.3.0 where you can configure your timeout for the page to wait. Also it is considered ok if there is up to 2 network requests still pending. Let me know if it helped

[2019-03-04 12:06] RienduPre commented on #6
Sorry for the late response (was on vacation)
Issue is solved !!
Thank you very much.

[2019-03-04 12:06] #6 closed, assigned to werthdavid

[2019-03-15 10:01] BOMAMI opened #7 "Timeout"
![graph](https://user-images.githubusercontent.com/46925730/54426720-d5025d80-4718-11e9-9f34-1706b09c328e.jpg)
Hi,
thanks for this plugin.
I'm trying to use the plugin to display a website that runs locally on an arduino mega.
This website shows the temperature history of my heating system.
So far, this has worked only once. I think it's because the screenshot is done too fast. On a normal browser

[2019-03-18 19:13] #5 closed, assigned to werthdavid

[2019-03-18 19:14] werthdavid commented on #7
Ok I guess after loading all network resources the page does some rendering (PWA). The timeout only affects the time until all resources are loaded. I'll have to add another flag for a render-timeout

[2019-03-18 19:40] werthdavid commented on #7
Please try the new option: renderTimeout

[2019-03-18 19:40] werthdavid commented on #7
published in 1.4.0

[2019-03-18 20:22] BOMAMI commented on #7
Hi werthdavid,
thanks for your support
I tryed the new renderTimout and so far it works!
![Image-1](https://user-images.githubusercontent.com/46925730/54560830-80363f80-49c3-11e9-8448-06ad1989f9f3.jpg)

Thank you very much!
regards

[2019-03-19 14:05] werthdavid commented on #7
Cool, glad I could help!

[2019-03-19 14:05] #7 closed, assigned to werthdavid

[2019-04-22 10:47] Glynnryan opened #8 "Parse Login / API?"
Although more of a help request than an issue, I am pointing the plugin to an site on my local network, which requires login details to be entered on first login. I've tried login in from Chromium browser first, but when viewing the feed through the plugin, it displays the login screen for my locally hosted site.

Any idea how to bypass this or somehow send username and password detail through? Th

[2019-04-22 10:50] Glynnryan commented on #8
Edit - Tried to set the best title. ¯\_(ツ)_/¯

[2019-04-22 12:07] martijnmnnk commented on #8
Is the site asking for your credentials through http authorisation? If yes, then you can login like this:
http://username:password@www.domain.com

[2019-04-22 13:12] Glynnryan commented on #8
@Brklnbnc Thanks for that! I got it working thanks to your suggestion!

[2019-04-22 13:14] #8 closed, assigned to nobody

[2019-05-12 12:47] 0rangeX opened #9 "Wrong sample config"
Hi,

your sample config says website-to-camera instead of website-camera

[2019-05-27 05:54] werthdavid commented on #9
Thanks.... 🙈

[2019-05-27 05:58] #9 closed, assigned to werthdavid

[2019-05-27 15:04] DJBenson opened #10 "No image"
This seems to have been resolved previously but I’ve just installed 1.4.1 on an RPi 3 running Raspbian 8.

`May 27 15:57:14 homekithub homebridge[24714]: [5/27/2019, 3:57:14 PM] [website-camera] Error: Failed to launch chrome!
May 27 15:57:14 homekithub homebridge[24714]: bootstrap_helper: /usr/lib/chromium-browser/nacl_helper: Cannot open ELF file!  errno=2
May 27 15:57:14 homekithub homebridge[2

[2019-07-12 08:07] ad-mq opened #11 "Another "no image" issue..."
I'm running homebridge on an asus tinkerboard. Debian 9.9 (stretch).

I can't find "chromium-browser" in apt, but "chromium" is installed.
I can run chromium from cli and it returns no error. Tried to change chromiumPath to "/usr/bin/chromium" but its not working.

Is "chromium" even the right package or does it need to be "chromium-browser"?

[2019-07-25 05:36] werthdavid commented on #11
I guess "chromium" should work as well. It just needs an Chrome or Chromium Browser installed that it can run.
Is there any output provided? Does Chromium work normally when you run it on your desktop?

[2019-07-25 05:39] werthdavid commented on #10
So there's a problem with Chromium not starting..  Do you have the latest chromium-browser installed? If it is a desktop environment, try starting it on desktop.

[2019-08-13 06:38] werthdavid commented on #11
Ill close this due to inactivity. If there is more information, feel free to open it again but please make sure the problem is related to the plugin and not the OS or chromium

[2019-08-13 06:38] #11 closed, assigned to werthdavid

[2019-08-13 06:38] werthdavid commented on #10
Ill close this due to inactivity. If there is more information, feel free to open it again but please make sure the problem is related to the plugin and not the OS or chromium

[2019-08-13 06:38] #10 closed, assigned to werthdavid

[2019-08-28 19:46] Stillaround opened #12 "IOS 13 require a code for the camera"

[2019-09-02 08:39] werthdavid commented on #12
Ah I see what you mean... you have to provide the PIN from the config.js for the global homebridge  ("bridge.pin").

[2019-09-02 08:39] #12 closed, assigned to werthdavid

[2019-09-02 20:01] Stillaround commented on #12
oh

[2019-09-03 10:33] werthdavid commented on #12
Did it work for you?

[2019-09-03 17:35] adriancable opened #13 ""Camera is not responding" between snapshots"
Great plugin. One issue - when touching the camera in the Home app to get the full screen view, after 20 seconds or so, the screenshot disappears and is replaced with "No Response - This camera is not responding". I suspect this is because HomeKit is expecting a live view stream connection but none is forthcoming.

Any way to tell HomeKit that the accessory doesn't support streams, only snapshots,

[2019-09-06 05:04] werthdavid commented on #13
Unfortunately not.. as far as I understood HomeKit/Homebridge it expects an URL where it can connect when you tap the camera. And I haven't found any possibility to stream the browser as RTP stream..

[2019-09-17 08:20] #13 closed, assigned to werthdavid

[2019-09-19 04:35] rcheramy commented on #12
I had the same issue on ios 12. I tried putting in the bridge pin and it said that pin is already added (aka the bridge).

[2019-09-19 04:59] rcheramy commented on #12
I had the issue on iOS 12 and using the homebridge pin worked.

[2019-09-24 07:39] sschuste opened #14 "Protocol error"
Hi,

can you please help me to debug the following output:

[code]

Unfortunately, I have very little further information. The plugin worked without any problems on a Raspi 3B+ with Raspberian Stretch. In the meantime I have had a Raspi 4 with Raspberian Buster for weeks and only noticed today that this error message is generated. Another change in my setup was of course the update to iOS 13, but

[2019-09-24 14:20] werthdavid commented on #14
Hmm I only have an Rpi3 here but I'll try to reproduce it here. Could be a problem with puppeteer and Chrome versions..

[2019-10-05 08:36] sschuste commented on #14
I finally had time to do some tests. Apparently it's Raspbian Buster. The plugin doesn't run on a Raspi 3 with Buster, but on a Raspi 3 with Raspbian Stretch.

Raspi 4 with Buster: not working
Raspi 3 with Buster: not working
Raspi 3 with Stretch: working

All test environments are running with node-10.16.3 LTS and homebridge 0.4.50.

[2019-10-05 16:26] werthdavid commented on #14
Ok do u have raspbian with desktop installed? Can you confirm chromium/chrome is running?

[2019-10-05 16:28] werthdavid commented on #14
Can you also try:
1) go to plugin install dir
2) npm i puppeteer-core@latest

And see if that helps?

[2019-10-05 17:57] sschuste commented on #14
Unfortunately, I only have a Raspbian minimal installation, but I used X11 to display the chromium browser on my Mac with xquartz. It works wonderful. The browser is running fine.

As I wasn't sure where exactly to install puppeteer I tried two different approaches:

**Installation in /usr/local/lib/node_modules**
(using sudo npm i -g --unsafe-perm puppeteer-core@latest)
[code]

I de-installed pup

[2019-10-05 19:35] werthdavid commented on #14
Dang it... I have one more idea.. I'll create a dev-release tmrw which can be used for testing

[2019-10-06 07:22] werthdavid commented on #14
please try with homebridge-website-to-camera@1.5.0-SNAPSHOT and let me know if that helps

[2019-10-06 08:55] sschuste commented on #14
No. Unfortunately not. I have now simplified my setup and removed all webiste-to-cameras except one to better see what is happening.

The errors between the first call and the next are different. Maybe the error message of the second call is a consequence of the first one. I don't know. But maybe it will help you. That's how it looks:

[code]

Seconds later, the refresh:

[code]

[2019-10-06 08:55] sschuste commented on #14
Would a log help with homebridge debug mode enabled?

[2019-10-06 10:29] werthdavid commented on #14
Actually not, all logs print to info so that's fine...

[2019-10-06 10:37] werthdavid commented on #14
Can you tell me which version of chromium you are using?

[2019-10-07 12:11] werthdavid commented on #14
Can you contact me via Email so we can find a solution more efficiently?

[2019-10-07 12:47] werthdavid commented on #14
https://github.com/GoogleChrome/puppeteer/issues/1409

[2019-10-09 09:06] sschuste commented on #14
I sent a message to you via email.

[2020-04-21 18:44] palasinio opened #17 "[FEATURE] Eve App 4.2 Issue with homebridge-website-to-camera"
@werthdavid
The lates Eve for HomeKit App v4.2 is causing issues with several Homebridge Plugins.
They changed something so that the serial number of a device is linked somehow in the background. This was not with previous Eve versions.
Problems causing now like described here.
homebridge/homebridge#2503
So all devices/switches from homebridge-website-to-camera can't be sorted anymore and can't ge

[2020-04-21 18:46] werthdavid commented on #17
Thanks for the explanation. I will look into it. Haven’t done anything regarding Eve for quite a while now..

[2020-04-21 18:49] palasinio opened #18 "[FEATURE] Eve App 4.2 Issue with homebridge-website-to-camera"
@werthdavid
The lates Eve for HomeKit App v4.2 is causing issues with several Homebridge Plugins.
They changed something so that the serial number of a device is linked somehow in the background. This was not with previous Eve versions.
Problems causing now like described here.
homebridge/homebridge#2503
So all devices/switches from homebridge-ssh can't be sorted anymore and can't get an icon for

[2020-04-21 18:50] #18 closed, assigned to nobody

[2020-04-21 19:05] palasinio opened #19 "[feature request] Get hires image when clicking on preview"
Hi,

I have two questions:
1st: Why are there 3 to 4 chromium processes per cam running?
Is it possible to reduce that? Or is it possible to use the same chromium instance?
I haven't found anything in chromium config.

2nd: In Home app, if you tap on a picture it will enlarge to fullscreen, but there is no new image loaded in this view - just a loading wheel in the middle.

Do you see a chance to

[2020-04-26 14:33] werthdavid commented on #19
1) I have to look into that but usually every chrome tab gets at least one process plus one for the master window.
2) I fear I can’t do much about that. The problem is that HomeKit expects an address for a stream where it can connect to (rtsp) to display the video in full screen. I have not found a solution (maybe addon?) that provides an endpoint for an rtsp stream where you can connect to for a

[2020-04-26 15:27] palasinio commented on #19
Ah, okay - I didn‘t knew that.

[2020-04-27 07:21] werthdavid commented on #19
1. Also something I cannot do much about. Every cam is an own accessory that is isolated from the others that starts its own Chrome browser. Due to the sandbox-mechanism the memory/cpu overhead should not be much higher than using a single master-instance since Chrome starts new tasks for each tab anyway.

I will close this for now, if something changes we can re-open this.

[2020-04-27 07:21] #19 closed, assigned to werthdavid

[2020-04-27 07:48] werthdavid commented on #14
should be resolved with 1.5.0

[2020-04-27 07:48] #14 closed, assigned to werthdavid

[2020-04-27 07:49] werthdavid commented on #17
Please try homebridge-website-to-camera@1.5.0 and let me know if that helps

[2020-04-28 22:18] palasinio commented on #17
@werthdavid: Big THX for maintaining.
Right now I upgraded to HB 1.0.3 and the latest version of your plugin. For EVE to rediscover it is nescessary to remove the app.
Inbetween EVE restored previous behaviour /w version 4.2.1 and I was not able test /w 4.2.

But after updates I had to readd the "cams" and while doing that this happens:
[code]
No problem, HB restarts and everything is okay, but th

[2020-04-29 10:25] werthdavid commented on #17
Sorry, I don't have a homebridge instance running at the moment so I can't test it...
Can you please try with homebridge-website-to-camera@1.5.1

[2020-04-29 12:10] philmue1988 opened #20 "Since Update HB rebooting every time"
Hi,

first of all thank you for that nice plugin! since the update, i got the callback function error and the HB reboots new every time.

[website-camera] Loading finished, waiting 2000ms before taking screenshot
Apr 29 14:08:32 raspberrypi homebridge[28173]: [4/29/2020, 14:08:32] [website-camera] Created screenshot
Apr 29 14:08:32 raspberrypi homebridge[28173]: [4/29/2020, 14:08:32] [website-came

[2020-04-29 16:00] palasinio commented on #17
Sorry, that didn‘t help, but I had to add the cams again. No need to hurry. This error could be reproduced by clicking the identify button.

[2020-04-30 06:57] werthdavid commented on #17
Ok I've setup my bridge again, homebridge-website-to-camera@1.5.2 should be working, sorry for the inconvenience. I'm not sure though, if the Eve problem is resolved with that as well

[2020-04-30 06:57] werthdavid commented on #20
please try homebridge-website-to-camera@1.5.2

[2020-04-30 23:15] palasinio commented on #17
@werthdavid Great - everything seems to be okay now. THX! (and so fast)

[2020-05-01 07:14] #17 closed, assigned to werthdavid

[2020-05-01 19:26] #20 closed, assigned to werthdavid

[2020-05-04 13:17] inquisition opened #21 "The camera is not responding"
Hello and thank you for your great plugin that used to work very good.
Since a few days I get this error in the logs and I am unable to connect to the camera from the Home app.
Here is the error on the Homebridge logs: "One of your plugins incorrectly registered an external accessory using the platform name (website-camera) and not the plugin identifier. Please report this to the developer!"

Than

[2020-05-06 08:47] werthdavid commented on #21
Hey, can you provide your config please? Do you use more than one camera?

[2020-05-06 09:32] werthdavid commented on #21
Never mind, I found the issue!

[2020-05-06 09:34] werthdavid commented on #21
Please try homebridge-website-to-camera@1.5.3 (maybe the cameras have to be added again to Home)

[2020-05-06 19:06] inquisition commented on #21
1.5.3 fixes the issue ! And yes I had to add the camera again. Thank you !
Now I can check how the beach looks before going for a swim :-)

[2020-05-06 19:06] #21 closed, assigned to werthdavid

[2020-05-06 19:54] werthdavid commented on #21
Nice :D I use it to check the traffic before leaving for or from work.

[2020-05-14 09:50] marcoschmidt79 opened #22 "[website-camera] TimeoutError: Navigation timeout of 20000 ms exceeded"
Hello and thank you so much for your wonderful plugin. :-)

I have ioBroker and i have create a website with vis and vis-map with coordinates from my car (vw-connect-adapter). then i use your plugin and take the picture from map with car in my homekit. It works. But i have problems:

This is normal:

This is not normal and a mistake:

Can you help me please?

Sorry for my bad english. :-)

[2020-05-14 15:57] werthdavid commented on #22
Hey, can you give me more information? So the problems occurs sometimes but not always? What kind of website is it? Have you tried the option ‘renderTimeout’ in the config?

[2020-05-14 16:42] marcoschmidt79 commented on #22
Ah du bist aus Stuttgart, dann kann ich ja Deutsch schreiben. :-)

Ja, manchmal macht der die Bilder problemlos, manchmal kommt eben der Fehler. Die Config:

Das ist nur eine einfache Website, die eine Karte anzeigt, die ioBroker erstellt hat. Die zeigt dann im prinzip an, wo mein Auto steht. Auflösung 1024x768, aber es ist ok, dass dein Plugin das etwas verkleinert.

Edit: Hab das Gefühl, der Feh

[2020-05-15 07:55] werthdavid commented on #22
Ja, deutsch passt auch ;-)
Also technisch ist es so, dass der Timeout passiert, wenn nach 20s noch mehr als 2 Verbindungen auf der Seite nicht fertig geladen haben.
Du kannst mal schauen was passiert, wenn du die config so anpasst:

"timeout": undefined,

Ist nur etwas schwierig für mich das nachzuvollziehen, wenn ich die Seite nicht kenne. Stürzt die homebridge dadurch komplett ab?
Du kannst auch

[2020-06-25 10:28] werthdavid commented on #22
Close due to inactivity

[2020-06-25 10:28] #22 closed, assigned to werthdavid

[2020-08-22 07:39] Tobias007 opened #23 "No response - this camera is not responding"
Hi David,

tried to get the plugin working, however it always says in homekit "no response".

I started to debug your code:

issue seems to be, it is never jumping in the following function:
Camera.prototype.handleSnapshotRequest

All other functions like:
Camera.prototype.prepareStream
Camera.prototype.handleStreamRequest
...
are called when I click on the camera in homekit.

it also jumps into t

[2020-08-22 09:13] werthdavid commented on #23
Hey,
that sounds weird... Which iOS version are you using? The regular "Home"-App? The thing is that the camera only shows a preview if you are in the overview, if you tap on the camera (live mode), it will not work! That's unfortunately a known limitation...

[2020-08-22 09:29] Tobias007 commented on #23
Hi,

thanks for the quick reply. I'm using the normal HomeApp on Mac. I think I found the issue: I just installed in addition the camera-ffmpeg plugin (as I wanted to check if real webcam streams are working). I got this to work and out of a sudden as well the webpage-to-camera plugin also worked and it jumped into the Camera.prototype.handleSnapshotRequest function.

Very strange - probably some

[2020-08-22 09:34] Tobias007 commented on #23
.. and the behaviour of the homekit app is indeed different between iOS and MacOS.
I'm on iOS14: preview works, live stream as known not
On Mac: Preview: image wrongly sized, Livestream: correct size (still picture).

[2020-08-25 02:15] d1g1talweb opened #24 "Chromium-Browser on MacOS"
I've migrated my homebridge server over to MacOS and can't get this plugin to function. It's most likely a path issue to chromium browser, can't seem to get it to add the camera. I've tried setting the path to:
/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome but nothing appears when trying to add an accessory.

[2020-08-30 19:02] d1g1talweb commented on #24
I was able to solve this issue. The problem i was facing was two fold:
#1 I had another Homebridge instance running on my network with the homebridge-website-to-camera plugin. Looks like the home app could not see the new instance until i remove the plugin from my old homebridge setup.
#2 I installed chromium on my Mac and pointed the path to:
/Applications/Chromium.app/Contents/MacOS/Chromium

Ev

[2020-08-30 19:02] #24 closed, assigned to nobody

[2020-09-01 12:56] DjamikTea commented on #23
Hello, the same problem on iOS 14 and iOS 13

[2020-09-06 15:55] werthdavid commented on #23
Hey guys,

I have no idea why the cameras on this plugin do not automcatically appear... What is the exact name of the plugin where it works? Maybe I can get some inspiration from there...

I don't have a Mac anymore so I'm not sure how I can investigate that..

[2020-09-07 15:52] DjamikTea commented on #23
**Hi guys,
after adding the plugin, you will have a camera with a description "default". If you go to "add accessories"> "no code or no possibility to scan" and you will see another camera.**
![IMG_5265](https://user-images.githubusercontent.com/34600049/92403800-e6c09780-f13a-11ea-9f44-f10c81f9bffa.PNG)

 **The code will be the one that generated the homebridge.**

![IMG_5270](https://user-images

[2020-09-15 20:05] mgiacomo72 opened #26 "Error: Failed to launch the browser process!"
Hi, I installed you plugin but after configuration an error in homebridge status page is shown:

[9/15/2020, 7:47:24 PM] [website-camera] Starting new instance of Chromium: /usr/bin/chromium-browser
[9/15/2020, 7:47:24 PM] [website-camera] Error: Failed to launch the browser process!
cannot read mount namespace identifier of pid 1: Permission denied

TROUBLESHOOTING: https://github.com/puppeteer/p

[2020-09-18 07:18] mgiacomo72 commented on #26
To complete my issue, chromium-browser opens correctly from the command line terminal in the desktop environment.

[2020-10-28 04:27] Ducky6944 opened #27 "Chromium Flags"
I'd love to be able to add the ```--ignore-certificate-errors``` flag to the chromium binary. There's an old govt website that I like to keep track of, but it fails because they use self-signed certs. Any help or ideas would be very welcomed. Thanks for the great module.

[2020-10-28 04:41] Ducky6944 commented on #27
Seems like a little script saved the day. Just in case anyone is looking for a way to add flags, just create a shell script.

example
[code]
Don't forget to ```chmod +x``` and link to the new script in the config.json.

[2020-10-28 04:41] #27 closed, assigned to nobody

[2020-11-08 15:25] genfersee opened #28 "Refresh rate"
Hello!

This plugin is great, many thanks!
Maybe a little improvement: adding an option to set the page refresh rate would be great!
I have set a webcam which only captures 1 picture per hour, so pluggin refresh every few seconds is a bit annoying.

Thanks in advance!

[2020-11-17 09:37] werthdavid commented on #26
Are you running homebridge with a different user?

[2020-11-18 11:54] mgiacomo72 commented on #26
Hi David,

I use an ubuntu distribution with LXQT as my desktop environment.
The desktop LQT environment LXQT automatically login in with user “homebridge”.

From the desktop environment opening a terminal window, the program "/usr/bin/chromium-browser” opens correctly.

Opening the Homebridge terminal from the web interface, I have the same user “homebridge”, you can see the attached image:

![Sc

[2021-02-18 13:45] jb-home commented on #13
Hi,
would it be possible to create an RTSP stream using GStreamer with just a very low frame per second rate?

[2021-03-25 20:23] palasinio opened #29 "Feature Request: puppeteer.launch parameter"
Hi @werthdavid:
Is it possible to you, to add arguments for puppeteer.launch in Screenshothelper.js?
1st: Add a config option (per webcam) to use "ignoreHTTPSErrors: true" i.e. for local websites with self signed certificates
2nd: use "--no-sandbox" only if current user is "root"

![grafik](https://user-images.githubusercontent.com/31258581/112538288-0013f300-8db0-11eb-8f0c-4cb68fd60990.png)

[2021-03-25 20:25] werthdavid commented on #29
That should be no problem. I'll see when I can find some time

[2021-03-29 06:48] werthdavid commented on #29
Please try it with homebridge-website-to-camera@1.6.0

[2021-03-29 08:51] palasinio commented on #29
Perfect! HTTPS flag works as expected. Thank you very much!
Just missing in GUI settings. I cannot see I f Chromium is in sandbox mode - but guess this is working, too.
Maybe you like to implement an error picture if ssl error is thrown or website not found / reachable?

[2021-03-30 22:51] bananajoe86 opened #30 "Confirmation of cookies on the website"
I wanted to get a route on Google maps. Now Google will inform you that cookies are being used and I will ask you to confirm. Does anyone have any idea how I can get this confirmation away so that I can display my picture?

[2021-03-31 05:48] werthdavid commented on #30
Oops... Do you have a graphical desktop available? If so, I can add an option that starts Chrome with GUI so you can click that away. Afterwards it should be stored and not come up again.

[2021-03-31 14:28] werthdavid commented on #29
I'll look into that when I find time but I'll close this for now

[2021-03-31 14:28] #29 closed, assigned to nobody

[2021-04-03 19:51] bananajoe86 commented on #30
No, only the Raspbian Light without desktop

[2021-04-22 15:13] UnbendableStraw commented on #29
How do I use this? I've tried adding it to my config but I still get ssl protocol errors, I'm probably doing something wrong?

[code]
[code]

Thank you!

[2021-04-29 20:36] WattageGuy commented on #26
Any solution? Same problem.

[2021-05-05 07:07] werthdavid commented on #26
@WattageGuy do you have the same error with "permission denied"?

[2021-05-14 17:42] DonMaverick opened #31 "Plugin for Docker Version - oznu/homebridge"
Hi,
great Plugin. But i am unable to use it on my Docker Container. (Respberry)
- oznu/homebridge
- Alpine Linux (3.12.4)

I am unable to install chromium.
Can you please support me?

Thanks a lot
DON

[2021-05-17 05:54] werthdavid commented on #31
What have you tried so far? Can you show me your Dockerfile?

[2021-05-19 17:40] Suma-xy opened #32 "Error: Failed to launch the browser process"
Hey there! I love this plugin. I tried to install this, I went through all the steps but all the time I get an error message. How can I get it to work?

[code]

here's my config:

[code]

[2021-05-19 19:23] werthdavid commented on #32
Hey, what environment are you running homebridge? Is it a raspberry? What user is used to start the service? What happens if you run /usr/bin/chromium-browser from a terminal?

[2021-05-19 20:05] Suma-xy commented on #32
So I'm using Ubuntu Server 21.04, it's running on my Raspberry Pi 4 and Homebridge has its own user named "homebridge".

When I type /usr/bin/chromium-browser into the terminal the following comes up:
[code]

i tried to give the homebridge user admin rights, i ran the following command:
`sudo adduser homebridge sudo`
unfortunately it still did not help

Edit: I'm also using Homebridge 1.3.4

[2021-05-20 12:37] werthdavid commented on #32
Which version of chrome are you using? It seems like this bug was fixed in 79.0.3945.79-0ubuntu0

[2021-05-20 16:09] Suma-xy commented on #32
hmm, that's the version im using:

[code]

ps: ich sehe, Sie sind aus Stuttgart. Sie können auf Deutsch antworten wenn es einfacher ist, ich bin aus Berlin :)

[2021-05-21 05:33] werthdavid commented on #32
Hey, Grüße nach Berlin ;)

Das Problem ist, dass sich Chrome auch außerhalb von Homebridge wohl nicht starten lässt. Wenn du ein Ubuntu-Server hast, gibt es dort kein Desktop/X-Server etc daher weiß ich nicht so richtig, wie das dann funtkioniert.
Versuche mal bitte folgendes:
chrome --headless --disable-gpu --remote-debugging-port=9222  https://www.chromestatus.com

[2021-05-21 05:39] DonMaverick commented on #31
What i did....

apk update
apk upgrade

I tried:
/homebridge # apk add --no-cache  chromium --repository=http://dl-cdn.alpinelinux.org/alpine/v3.10/main
fetch http://dl-cdn.alpinelinux.org/alpine/v3.10/main/armhf/APKINDEX.tar.gz
fetch http://dl-cdn.alpinelinux.org/alpine/v3.12/main/armhf/APKINDEX.tar.gz
fetch http://dl-cdn.alpinelinux.org/alpine/v3.12/community/armhf/APKINDEX.tar.gz
ERROR: unable

[2021-05-21 05:42] werthdavid commented on #31
Have you seen this?
https://stackoverflow.com/questions/57714810/docker-nodealpine-12-how-to-install-chromium-73-in-dockerfile

[2021-05-21 16:07] DonMaverick commented on #31
I tried :-(

/homebridge # apk add --no-cache  chromium --repository=http://dl-cdn.alpinelinux.org/alpine/v3.10/main
fetch http://dl-cdn.alpinelinux.org/alpine/v3.10/main/armhf/APKINDEX.tar.gz
fetch http://dl-cdn.alpinelinux.org/alpine/v3.12/main/armhf/APKINDEX.tar.gz
fetch http://dl-cdn.alpinelinux.org/alpine/v3.12/community/armhf/APKINDEX.tar.gz
ERROR: unable to select packages:
  chromium (no s

[2021-06-29 18:52] Walker-SW opened #34 "Cannot add camera in Homekit"
As described in the read.me the camera might not be seen by default.
So I did the following as suggested:

    Press + on top right corner in Home-App
    Press Add device
    Press Code missing
    Select Camera

Nevertheless the Homekit-App still asks me for the 8 digit code which I don't have.
If I click cancel I can close the code window but the camera was not added.

Any suggestions?
THANX

[2021-06-29 19:07] Walker-SW commented on #34
Issue solved. Realized that in the log file I can find the Code generated by homebridge.
The camera appears but unfortunately the camera icon shows "no answer" :(

[2021-07-08 05:30] #23 closed, assigned to werthdavid

[2021-08-22 13:03] Jackstone188 commented on #34
Hey, i cant find the code. Where did you find the code?

[2021-10-29 08:27] WesleyLiekens opened #35 "camera not responding"
Camera not responding and im not sure what the problem is
i have tried the standard settings in the example and just changed the path to the chromium app

macOS monterey
node v16.13.0
nam v8.1.1

CONFIG:
{
            "platform": "website-camera",
            "cameras": [
                {
                    "name": "Google Maps Traffic",
                    "url": "http://google.com",

[2021-11-15 20:48] FirePanther opened #36 "Doesn't trigger on Apple TV"
I've created two dummy cameras, one with this plugin and one with the ffmpeg homebridge plugin.
In the logs I can see, that the ffmpeg plugin responds immediately when I swipe to the Camera on the Apple TV, doesn't matter on which interface.
The website to camera plugin shows me the logs only when I open it on my iPhone (but also shows me a "No Response" watermark).
![iphone](https://user-images.g

[2021-11-15 20:54] FirePanther opened #37 "Motion Functionality"
The motion functionality would be awesome. This is also integrated in some other homebridge camera plugins and this way someone could open the camera on the apple tv automatically.
A way to do this would be to http request a "start" and a "stop" url/rest api, depending on the topic which is shown on that website you could show the camera if someone rang the bell, weather warnings, on specific time

[2021-11-16 06:55] werthdavid commented on #36
Thanks, now that I got an Apple TV as well I'll look into it!

[2021-11-26 09:41] #26 closed, assigned to nobody

[2021-11-26 09:42] #32 closed, assigned to nobody

[2021-11-26 09:43] werthdavid commented on #34
The code that is logged when homebridge is started straight below the qr-code

[2021-11-26 09:43] #34 closed, assigned to nobody

[2021-11-29 08:21] werthdavid commented on #28
plz test with v1.7.1

[2021-11-29 08:21] #28 closed, assigned to nobody

[2021-11-29 08:22] werthdavid commented on #31
Did you manage to install chromium?

[2021-11-29 08:23] werthdavid commented on #35
Can you start chromium from command-line? I think /Applications/Chromium.app/ is not the correct path, there should be an executable inside that folder. Can you please run "ls /Applications/Chromium.app/"

[2021-11-29 08:24] werthdavid commented on #37
Not sure how that works exactly.. Can you provide more information? (auch auf deutsch, wenn es dadurch einfacher wird)

[2021-11-29 08:26] werthdavid commented on #36
Working on it... The thing is, that tvOS doesn't trigger "handleSnapshotRequest" but instead immediately tries to start the stream (which is currently not supported by this plugin...).

[2021-11-29 18:22] WesleyLiekens commented on #35
I get this

Last login: Mon Nov 29 19:19:32 on ttys000
wesleyliekens@Mac-mini-van-Wesley ~ % ls /Applications/Chromium.app
Contents
wesleyliekens@Mac-mini-van-Wesley ~ %

im on macOS, the path to my apps is according to every source I find  /Applications/(name).app
and when I drag the chromium.app file to terminal it gives me

Last login: Mon Nov 29 19:21:53 on ttys000
wesleyliekens@Mac-mini-van-W

[2021-11-29 19:33] werthdavid commented on #35
I think your Path should be like this:
"chromiumPath": "/Applications/Chromium.app/Contents/MacOS/Google Chrome"

[2021-11-29 20:10] WesleyLiekens commented on #35
ok so it seems the path is
/Applications/Chromium.app/Contents/MacOS/Chromium
it still doesn't work tho

I get
[11/29/2021, 9:08:24 PM] [homebridge-website-to-camera] Starting new instance of Chromium: /Applications/Chromium.app/Contents/MacOS/Chromium
[11/29/2021, 9:08:24 PM] [homebridge-website-to-camera] Chromium started
[11/29/2021, 9:08:24 PM] [homebridge-website-to-camera] Opening new page
[

[2021-11-30 07:18] werthdavid commented on #35
That doesn't sound too bad though...
What device are you using for watching the "camera"? iPhone? Be aware that currently only the preview works, no live updates if you "click" on the camera

[2021-12-05 18:17] werthdavid commented on #30
now you can inject custom JS to remove banners

[2021-12-05 18:17] #30 closed, assigned to nobody

[2021-12-05 18:17] werthdavid commented on #36
Please try the new version 2.0.0

[2021-12-05 18:18] werthdavid commented on #35
now possible with v2.0.0 and ffmpeg

[2021-12-05 18:23] WesleyLiekens commented on #35
Great work!

[2021-12-05 21:49] palasinio opened #38 "Version 2 is missing hap-nodejs"
big thx for this new version.
unfortunately it’s missing hap-nodes as a separate installed npm module (additional to the one coming with Homebridge) - which should not be necessary.

[code]

After adding the additional hap-nodejs it will work again.
I will try the new live feature next weekend. Can I just use existing cameras or do I have to readd them?

[2021-12-06 06:57] werthdavid commented on #38
Oops, sorry! Please try v2.0.1

[2021-12-06 09:03] esp32x opened #39 "ReferenceError: Categories is not defined"
ReferenceError: Categories is not defined
    at new CameraAccessory (/usr/local/lib/node_modules/homebridge-website-to-camera/CameraAccessory.js:38:31)
    at /usr/local/lib/node_modules/homebridge-website-to-camera/index.js:27:67
    at Array.map (<anonymous>)
    at Platform.didFinishLaunching (/usr/local/lib/node_modules/homebridge-website-to-camera/index.js:27:55)
    at HomebridgeAPI.emit (n

[2021-12-06 09:06] werthdavid commented on #39
Ooops. Seems like I forgot something there... can you test with v2.0.3 please?

[2021-12-06 11:47] esp32x commented on #39
Looks better/good.
But now when I set "live" to "true", I get an infinite boot loop.

[2021-12-06 11:47] #39 closed, assigned to nobody

[2021-12-06 11:50] esp32x opened #40 "Infinite boot loop"
When I set "live" to "true", I get an infinite boot loop.

[code]

**config**
[code]

[2021-12-06 12:00] esp32x opened #41 "Missing comma in the sample configuration (README.md)"
Missing comma in the sample configuration (README.md)
"live": "true"
should be "live": "true",

[code]

[2021-12-06 12:29] werthdavid commented on #41
that's right, thanks

[2021-12-06 12:29] #41 closed, assigned to nobody

[2021-12-06 12:34] werthdavid commented on #40
It works on my machine 😂  That's weird.. Have you tried any other website? Does the cookie_consent.js file change anything?

[2021-12-06 12:34] #38 closed, assigned to nobody

[2021-12-06 12:34] #31 closed, assigned to nobody

[2021-12-06 13:21] esp32x commented on #40
Unfortunately, I can't get it to run with any website/configuration.

**config**
[code]

[code]

Can you post a configuration with reasonable and tested values where it works on your machine?

[2021-12-06 13:24] werthdavid commented on #40
I did test with the configuration you provided. Did it work with version 1 of the plugin? Are you running homebridge inside docker? also HTTPS could be a problem, have you tested a HTTP-only website? What version of chromium do you have?

[2021-12-06 14:22] esp32x commented on #40
- Raspberry Pi 3 Model B+
- Official Homebridge Raspberry Pi Image based on Raspbian Lite
- Linux homebridge 5.10.63-v7+ #1459 SMP Wed Oct 6 16:41:10 BST 2021 armv7l GNU/Linux
- Chromium 92.0.4515.98 Built on Raspbian , running on Raspbian 11
- Node.js Version v16.13.0
- Npm Version v8.1.3
- no Docker

[2021-12-07 06:28] werthdavid commented on #40
What happens if you set "timeout" to 0 (disabled, might be good for heavy websites)?

[2021-12-07 11:08] esp32x commented on #40
Setting "timeout" to 0 does not seem to disable it. The default value is 10000.

[code]

[2021-12-07 15:19] werthdavid commented on #40
Dang it, that's right of course...
Can you try the Website "http://neverssl.com"

[2021-12-08 10:39] esp32x commented on #40
Neverssl works, but when I set "live" to "true", "homebridge" or "website-camera" hangs and I can't see any messages in the status log anymore.

[2021-12-08 14:14] werthdavid commented on #40
So as a recap:
- it works if live is set to "false" (no crash, screenshot visible)?
- it hangs if live is set to "true" (crash before camera is activated/"clicked")?

[2021-12-29 17:22] henryhuisman opened #42 "chromium not working"
newbie over here, so I hope you can help me.
Installing chromium seems to work fine, but when testing it like you discribed, it gives this in return:
[1229/181723.401153:ERROR:elf_dynamic_array_reader.h(61)] tag not found
Trace/breakpoint trap

How can I solve this?
Thank you in advance

[2022-03-22 10:58] holocronology opened #43 "Display images as camera"
There are two branches that have forked off this. Both are geared towards displaying an image as a camera, rather than a website. This leads to a few questions:

1. Do these branches still require the chromium install for homebridge?
2. Can the features be rolled into this one plug-in?
3. If yes to the above, can it be done with an option to NOT install chromium?

Thanks.

[2022-03-22 12:40] werthdavid commented on #43
1. Nope, chromium is required to get a screenshot of a website.
2. Yes, I like the idea of displaying an image!
3. chromium has to be installed independent of that plugin anyway so yes, that can be possible

[2022-04-03 12:12] guitardoc opened #44 "Version for Debian Bullseye lite"
Hello,

The Chromium-Browser does not work anymore on Debian Bullseye (probably due to BlueAlsa no longer being part of the Bullseye installation - BlueAlsa cannot be installed separately either).

The only way on Bullseye is to use Chromium instead of Chromium-Browser. Is it possible to have an update using Chromium instead of Chromium-Browser?

Thank you.

[2022-04-03 14:26] werthdavid commented on #44
Hey, are you talking about (google) chrome? Did you try if it works? As Chrome and Chromium are basically the same, I guess it should work right away

[2022-04-03 15:22] guitardoc commented on #44
Hello,
Yes, I tried it. I installed chromium instead of chromium-browser and then installed the homebridge-website-to-camera plugin. It did not work. However, I am not sure if I entered the correct path to chromium as it might get installed differently to chromium-browser.
Thank you for looking into this.

PS. I am not sure if chromium installs correctly either. When entering
$ chromium
it aborts

[2022-04-04 08:33] werthdavid commented on #44
The error is fine, it states that you don't have a graphical environment (Desktop) available, which is expected as you're running the command from a (remote-)shell.

What error do you get from the plugin?
You should locate the "chromium"-executable on your system and provide the path in the config e.g.
"chromiumPath": "/usr/bin/chromium"

[2022-04-04 09:27] guitardoc commented on #44
Dear David,
I just tried it and got it to work. It seems I had the path to the chromium executable wrong.
Thank you very much for looking into this!

[2022-04-04 09:30] werthdavid commented on #44
That's great, you're welcome!

[2022-04-04 09:30] #44 closed, assigned to nobody

[2022-05-03 01:11] FirePanther opened #46 "Chromium Path wrong, doesn't work on Mac"
On Mac the /usr folder is secured, so I can't even create a softlink for  `/usr/bin/chromium-browser`
I installed chromium with homebrew (`brew install --cask chromium` → `/opt/homebrew/bin/chromium`)
But after installing, I still get the old path as an error message:

[code]

I would love to test the new Apple TV integration :D sadly changing my Homeserver from a Linux device to a Mac prevented f

[2022-05-03 01:21] FirePanther commented on #37
Hi :) sorry für die stark verspätete Antwort, hatte ewig nichts mehr mit Homebridge gearbeitet.
Die Motion Funktion siehst du z.B. auch im [ffmpeg camera Homebridge Plugin](https://www.npmjs.com/package/homebridge-camera-ffmpeg#optional-parameters).
Man kann dadurch z.B. mit einem Dummy Switch auf Homebridge eine "Motion" triggern (bei einer realen Kamera heißt es, es wurde eine Bewegung erkannt,

[2022-05-03 05:33] werthdavid commented on #37
Ah interessant.. Zwischenzeitlich habe ich auch einen AppleTV mit dem ich testen kann 😛  Allerdings mache ich auch nicht mehr viel mit der Homebridge sondern alles mit Home Assistant.. Ist halt die Frage wie die Motion getriggert werden soll. Per virtuellem Switch ist wohl eher kein Problem aber eben auch etwas witzlos. Hmmm man könnte z.B. das letzte Bild mit dem neuen Bild vergleichen und wenn e

[2022-05-03 05:47] werthdavid commented on #43
Actually this should work out of the box... instead of the URL you just have to provide the full path to the image!

[2022-05-03 13:17] FirePanther commented on #37
Ich habe mir nicht genau angeschaut wie website-to-camera funktioniert, aber ich denke es schießt keine Screenshots, wenn du dir die Kamera nicht anschaust (?)
Das Interessante an Motion Trigger ist, dass es halt von überall aus getriggert werden könnte und zwar live.
Ich denke wenn du z.B. den HTML Source Code vergleichen müsstest, dann wäre es eher polling mit einem Intervall, d.h. wenn jemand d

[2022-05-03 13:24] werthdavid commented on #46
Ooops. Verified it on my Mac... Update incoming

[2022-05-03 13:25] werthdavid commented on #46
hope it works with latest (2.0.4)

[2022-05-03 13:26] werthdavid commented on #42
Please try again with latest 2.0.4

[2022-05-03 13:27] #35 closed, assigned to nobody

[2022-05-03 13:27] #36 closed, assigned to nobody

[2022-05-03 13:27] werthdavid commented on #40
Please reopen if necessary

[2022-05-03 13:27] #40 closed, assigned to nobody

[2022-05-03 13:27] #43 closed, assigned to nobody

[2022-05-03 20:15] werthdavid commented on #37
Habe eben mal bei ffmpeg rein gespickelt, wäre wohl nicht übermäßig kompliziert so eine Motion zu triggern.
Einen Web-Server nutzt dieses Plugin hier nicht direkt, da es ja Chrome startet und steuert. Allerdings läuft das ja alles unter node, da kann man natürlich relativ einfach auf requests horchen.
Was ich nicht ganz verstehe ist was ein Dummy Switch bringt. Wie wird der dann getriggert? Über e